html
  head
    title bfast-ci
    link(rel='stylesheet', href='style.css')
  body
  table
    tr
      td date
      td bfast Darwin
      td bfast lucid32
      td bfast lucid64
      td bfast-bwa darwin
      td bfast-bwa lucid32
      td bfast-bwa lucid64
    - each e, ts in entries
      tr 
        - var log_root = e.log_root;
        td= e.date
        - ["Darwin", "lucid32", "lucid64"].forEach(function(b){
          - ["bfast", "bfast-bwa"].forEach(function(b){
            td
              - var link = "/logs/" + e.box + "." + e.branch + "." + e.log_root;
              - var text = e.e_status === "0" ? "OK" : "ERROR";
              - if (e.e_status === "0")
                a(href=link) #{text}
              - else
                a.red(href=link) #{text}
          - })
        - })

